.l-row {
    display: flex;
}

.l-row__move {
    background: white;
}

.l-row__up {
    background		: url("//oncology.en.hegc.cl/images/BDI-_icon-mover_arriba_bloq.svg") no-repeat center;
    cursor: pointer;
    height: 1rem;
    width: 2rem;
    margin-bottom: .2rem;
}

.l-row__down {
    background		: url("//oncology.en.hegc.cl/images/BDI-_icon-mover_abajo_bloq.svg") no-repeat center;
    cursor: pointer;
    height: 1rem;
    width: 2rem;
    margin-bottom: .2rem;
}

.l-row__contend {
    background: #3b3c42;
    display: flex;
    flex: 1;
    padding-top: .1rem;
}

.l-row__left {
    display: flex;
    background: lightgray;
    height: 8rem;
    width: 10rem;
}

.l-row__position {
    background: black;
    color: white;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.l-row__right {
    display: flex;
    flex: 1;
    background: white;
}

.l-row__close {
    margin-left: auto;
    margin-right: .6rem;
    cursor: pointer;
}