.l-indication {
    background: white;
    margin: .4rem;
}

.l-indication__head {
    display: flex;
    align-items: center;
}

.l-indication__back {
    background		: url("//oncology.en.hegc.cl/images/icono_volver.svg") no-repeat center;
	background-size: 1.5rem 2rem;
    cursor: pointer;
    height: 2rem;
    width: 3rem;
    margin-right: 1.5rem;
}

.l-indication__back:hover {
    background		: url("//oncology.en.hegc.cl/images/icono_volver-sombra.svg") no-repeat center;
}

.l-indication__breadcrumb {
    color: #a9a7a7
}
.l-indication  hr {
    border-top: 1px solid #a9a7a7;
    margin: 0 1rem;
}

.l-indication__templates {
    display: flex;
}

.l-indication__content {
    width: 100%;
}

.l-indication__content hr {
    margin-left: 0;
}

.l-indication__template__head {
    display: flex;
    align-items: center;
}

.l-indication__template__head p {
    font-family: 'Dosis', sans-serif;
    font-size: .8rem;
    color: #7c7878;
}

.l-indication__actions {
    display: flex;
    margin: 1rem;
}

.l-indication__button {
    background: white;
    border-width: .1rem;
    margin: 0 .3rem;
    border-radius: .3rem;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: .7rem;
    color: #7c7878;
}

.l-indication__button--left {
    margin-left: auto;
}

.l-indication__button--save {
    background: #ff4700;
    color: white;
    margin-right: 1rem;
}

.l-indication__button--import {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-importar.svg") no-repeat .2rem/.8rem;
    padding-left: 1rem;
    min-width: 8rem;
}

.l-indication__button--drug {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-mas.svg") no-repeat .5rem;
    padding-left: 1rem;
    min-width: 6rem;
}

.l-indication__button--fleboclisis {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-mas.svg") no-repeat .5rem;
    padding-left: 1rem;
    min-width: 7rem;
}

.l-indication__button--laboratory {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-mas.svg") no-repeat .3rem;
    padding-left: 1rem;
    min-width: 9rem;
}

.l-indication__button--process {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-mas.svg") no-repeat .3rem;
    padding-left: 1rem;
    min-width: 9rem;
}

.l-indication__button--consultation {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-mas.svg") no-repeat .3rem;
    padding-left: 1rem;
    min-width: 9rem;
}

.l-indication__button--other {
    background: url("//oncology.en.hegc.cl/images/BDI-_icon-mas.svg") no-repeat .3rem;
    padding-left: 1rem;
    min-width: 10rem;
}

.l-indication__rows {
    overflow: scroll;
    height: 35rem;
    margin-right: 1rem;
    border-top: .1rem solid lightgrey;
}

.l-indication__move {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: .6rem;
    color: #7c7878;
    padding: .3rem 0;
}
